body{
	font-size:18px;
}
h4{
	color:#BB78FF;
}
p{
	color:#503e64;
	/* padding-left:10px; */
}

.InputMessage{
	width:800px;
	height:200px;
	margin-top:80px;
	
}
.p_all{
	margin-top:8px;
/*	font:18px STXingkai;*/

}

.DateLabel{
/*	font-family:Consolas;*/
	margin-left:10px;
	font-size:16px;
	color:#FF358F;
}
