body{
	font-size:18px;
}
h4{
	color:blue;
}
a {font-size:16px;color:black;}
a:link {/* color: blue;  */text-decoration:none;} /* 未访问：蓝色、无下划线 */
a:active:{/* color: red; */ } /* //激活：红色 */
a:visited {/* color:purple; */text-decoration:none;} /* //已访问：purple、无下划线 */
a:hover {/* color: red; */ /* text-decoration:underline; */text-decoration:none;}/*  //鼠标移近：红色、下划线  */
.InputMessage{
	width:800px;
	height:200px;
	margin-top:80px;
	
}
.p_all{
	margin-top:8px;
/*	font:18px STXingkai;*/

}

.DateLabel{
/*	font-family:Consolas;*/
	margin-left:10px;
	font-size:16px;
	color:#0078D7;
}
